
   .container-fluid{
      font-family: "'Old Standard TT', sans-serif";

   }
   .nav-link{
    color: black;
  
   }

   .nav-item :hover{
    background-color: #d3d3d3;
    cursor: pointer;
   } 
   
  