.container-fluid {
  font-family: Helvetica Neue ", Helvetica, Arial, sans-serif";
  font-size: 100%;
}
.header {
  font-family: "'Old Standard TT', sans-serif";
}

.sidebar {
  height: 700px;
  font-size: 100%;
  background-color: rgb(58, 72, 95);
  color: white;
  font-family:Helvetica Neue ", Helvetica, Arial, sans-serif";
}

.card {
  background-color: rgb(247, 230, 235);
  text-align: center;
}
h4{
  font-family: "'Old Standard TT', sans-serif";
}
.nav{
  font-size: 18px;
}