    <div class="row">
        <div class="col-md-6">
            <div class="grid ">
                <div >
                    <mat-icon>person</mat-icon>
                    <a>Personal info</a>
                </div>
                <p>Manage your account details and personal information.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="grid">
                <div >
                    <mat-icon>settings</mat-icon>
                    <a>Preferences</a>
                </div>
                <p>Set your preferred display and account settings.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 ">
            <div class="grid">
                <div >
                    <mat-icon>language</mat-icon>
                    <a>Language and localization</a>
                </div>
                <p>Adjust language and regional settings.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="grid ">
                <div>
                    <mat-icon>notifications</mat-icon>
                    <a>Notifications</a>
                </div>
                <p>Customize how and when you receive alerts.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="grid ">
                <div >
                    <mat-icon>security</mat-icon>
                    <a>Privacy</a>
                </div>
                <p>Control your data and privacy settings.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="grid">
                <div >
                    <mat-icon>messages</mat-icon>
                    <a class="text-decoration-none text-black"
                        [routerLink]="['/dashboard/contact-messages']">Messages</a>
                </div>
                <p>View and manage your direct communications.</p>
            </div>
        </div>
    </div>
